@import "../../scss/variable.scss";

.step-item {
    display: flex;
    height: 100px;
    width: 200px;
    flex-flow: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: sans-serif;

    @media only screen and (min-width: 768px) {
        flex-flow: column;
        align-items: center;
    }

    &:hover::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }

    &__order {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        display: flex;
        line-height: 16px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        transition: all 0.3s ease;
        border: 2px solid #bbdefb;
        color: #2196f3;
        margin-bottom: 0px;
        margin-right: 20px;

        @media only screen and (min-width: 768px) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &__title {
        color: black;
    }

    &:first-child &__before {
        display: none;
    }

    &:last-child &__after {
        display: none;
    }

    &__before,
    &__after {
        width: 2px;
        position: absolute;
        background-color: #bbdefb;

        @media only screen and (min-width: 768px) {
            height: 2px;
            top: 11px;
        }
    }

    &__before {
        top: 0px;
        height: calc(50% - 10px);
        left: 11px;

        @media only screen and (min-width: 768px) {
            left: 0;
            top: 11px;
            height: 2px;
            width: calc(50% - 20px / 2);
        }
    }

    &__after {
        bottom: 0px;
        height: calc(50% - 10px);
        left: 11px;

        @media only screen and (min-width: 768px) {
            bottom: 11px;
            height: 2px;
            left: calc(50% + 20px / 2);
            width: calc(100% - 20px + 1px);
        }
    }

    &.activated {
        .step-item__before {
            background-color: $cl-primary;
        }

        .step-item__order {
            background-color: $cl-primary;
            color: white;
            border: 2px solid $cl-primary;

            &:after {
                content: "";
                position: absolute;
                top: -8px;
                bottom: -8px;
                left: -8px;
                right: -8px;
                border-radius: 50%;
                background-color: rgba(33, 150, 243, 0.12);
            }
        }

        .step-item__title {
            font-weight: bold;
        }
    }

    &.visited {
        .step-item__order {
            background-color: $cl-primary;
            color: white;
            border: 2px solid $cl-primary;
        }

        .step-item__before,
        .step-item__after {
            background-color: $cl-primary;
        }
    }


}